html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}
body{
    background-color: rgba(93, 255, 201, 0.315);
    align-items: center;
}

.baamshi{
    align-items: center;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    color: #000;
    font-size: 50px;

}

#text {
    align-items: center;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    color: #000;
    font-size: 30px;

}

.grid {
    position: absolute;
    border: 2px solid rgb(255, 0, 140);
    border-radius: 25px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

input{
    text-align: center;
    align-items: center;
    display: block;
    width: 17.41rem;
    height: 3rem;
    background: #fff;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 125px;
    padding-left: 10px;
    border-radius: 5px;
}
.file_submit{
    position: relative;
    width: 7.5rem;
    height: 2rem;
    font-size: 20px;
    background: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #000;
    border: 2px solid rgb(255, 0, 140);
    border-radius: 25px;
    cursor: pointer;
}
.file_submit:hover{
    background-color: coral;
}
label{
    background: #000;
    display: block;
    width: 17.41rem;
    height: 1.7rem;
    align-items: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 20px;
    margin-left: 125px;
    border-radius: 5px;
    color: #fff;
}
