<html> 
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0", shrink-to-fit=no>
		
		<link rel="stylesheet" type="text/css" href="../static/style.css"> 
        

        <style>
            h1 {text-align: center;
                font-size: 3vmax;}
        </style>


	</head>
	
	<body>
        <h1 style="color: rgb(255, 1, 107);" >Baamshi Blockchain</h1>

        <form class="grid" action="/result" method="POST">

          {% if blc %}
            
              <h1 style="color: rgb(1, 255, 170);" class="let_space1">Your info successfully encrypted!</h1>
              <h2 style="color: rgb(196, 1, 255);" class="let_space">{{blc}}</h2>
    
          {% endif %}
           
          <label for="name">Nickname:</label>
          <input type="text" id="name" name="name">

          <label for="family">Lastname:</label>
          <input type="text" id="family" name="family">

          <label for="age">Age:</label>
          <input type="text" id="age" name="age">

          <label for="iq">IQ score:</label>
          <input type="text" id="iq" name="iq">

          <label for="mbti">Personality Type(MBTI):</label>
          <input type="text" id="mbti" name="mbti">

          <input class="file_submit" type="Submit">

        </form>

        

        

        
        <br>
        <br>
        <br>


    </body>

</html>